.h{
    color: black;
    text-decoration-style: solid;
font-style: italic;
}
.main{
 margin-top: 55px;

}
#b1{
    width: 100px;
    padding-top:10px ;


}
.t{
    margin-left:100px;
    text-transform: uppercase;
    font-size:10px ;
    opacity: 0.5;
}
#b2{
    grid-area:menu;
    border-bottom: 2px solid;
    width: 100px;
    padding-top:10px
}



.wat ul {

    margin-left: 30%;
    margin-top: -40px;
    list-style: none;
    display:flex;
    border: none;
list-style: none;
      

}
.ul a{
   text-decoration: none;

}

.wat ul li{
    padding-left: 30px;
text-align: left;

}
.wat li:hover{
    background-color: violet;
color:black ;
}
body{
    background-color: cornflowerblue;
}

#Y1 a {
    padding-right:100px;
    text-decoration: none;
}

#Y2 a{
    padding-right:80px;
    text-decoration: none;
}
#Y3 a{
    padding-right: 70px;
    text-decoration: none;
}
#Y4 a{
    padding-right: 70px;
    text-decoration: none;

}
#Y5 a{
    text-decoration: none;
}

.container{
    margin-left: 40%;
    margin-top: -120px ;
}

.container .hp {
 display: flex;
 flex-flow: row wrap;
 max-width: 750px;
 max-height: 600px;
}


.hp #a1 {
    width: 250px;
    height: 360px ;
}
.hp #a2 {
    width: 250px;
    height: 240px ;
}
.hp #a3 {
    width: 250px;
    height: 300px ;
}
.hp #a4{
    width: 250px;
    height: 240px ;
}
.hp #a5 {
    width: 250px;
    height: 360px ;
    margin-top: -120px;
}
.hp #a6 {
    width: 250px;
    height: 300px ;
    margin-top: -60px;
}

    
/* }.image img{
    width: 250px;
    height: 250px;
    margin-left: 250px;
    flex-wrap: wrap;
} */